<footer class="max-w-7xl mx-auto px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between p-4 bg-white rounded-lg shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800">
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2022 <a href="https://flowbite.com/" class="hover:underline">Movies App</a>. All Rights Reserved.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm text-gray-500 dark:text-gray-400 sm:mt-0">
        <li>
            <a routerLink="/not-found" class="mr-4 hover:underline md:mr-6 ">About</a>
        </li>
        <li>
            <a routerLink="/not-found" class="mr-4 hover:underline md:mr-6">Privacy Policy</a>
        </li>
        <li>
            <a routerLink="/not-found" class="mr-4 hover:underline md:mr-6">Licensing</a>
        </li>
        <li>
            <a routerLink="/not-found" class="hover:underline">Contact</a>
        </li>
    </ul>
</footer>