<div class="min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full space-y-8">
        <div>
            <img class="mx-auto h-12 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-green-400.svg"
                alt="Workflow">
            <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">Login to your account</h2>

        </div>
        <form novalidate #loginForm="ngForm" (ngSubmit)="onLogin()" class="mt-8 space-y-6">
            <input type="hidden" name="remember" value="true">
            <div class="rounded-md shadow-sm -space-y-px">
                <div class="pt-2">
                    <label for="UserName">Username</label>
                    <input #username="ngModel" required [(ngModel)]="user.username" name="username" id="username"
                        class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-green-500 focus:border-green-500 focus:z-10 sm:text-sm"
                        placeholder="UserName">
                    <div class="text-rose-500 text-xs mt-2" *ngIf="username.invalid && submitted">
                        Username is required
                    </div>

                </div>

                <div class="pt-4">
                    <label for="password">Password</label>
                    <input [(ngModel)]="user.password" type="password" name="password" required
                        class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-green-500 focus:border-green-500 focus:z-10 sm:text-sm"
                        #password="ngModel" placeholder="Password">
                    <div class="text-rose-500 text-xs mt-2" *ngIf="password.invalid && submitted">
                        password is required
                    </div>
                </div>
            </div>
 
            <div>
                <button type="submit"
                    class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-green-500 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
                    Login
                </button>
            </div>
        </form>
    </div>
</div>