<!-- This example requires Tailwind CSS v2.0+ -->
<div class="py-12 items-center flex max-w-7xl mx-auto  mt-10">
    <h1 class=" text-9xl font-medium text-green-500">404</h1>
    <div class="max-w-7xl items-center justify-center flex mx-auto px-4 sm:px-6 lg:px-8">
       
        <p
            class="text-3xl flex items-center justify-center leading-8 font-extrabold tracking-tight text-rose-500 sm:text-4xl">
            Ohh 😮 ..We can't find the page you are requesting
        </p>

    </div>
</div>